body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  background-color: #000;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px;
}


.jumbotron {
	padding: 0
}

.portfolio {
  color: #fff;
  background-color: #000;
}

.caption {
	display: none;
	position: absolute;
	top: 15px;
	left: 15px;
	background: url(http://alijafarian.com/demos/jquery-image-hover-captions/images/trans-black-50.png);
	width: 360px;
	height: 360px;
}
.caption h3, .caption p {
	color: #fff;
	margin: 20px;
}
.caption h3 {
	margin: 20px 20px 10px;
}
.caption p {
	font-size: .75em;
	line-height: 1.5em;
	margin: 0 20px 15px;
}
.caption a.learn-more {
	padding: 5px 10px;
	background: #08c;
	color: #fff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	font-weight: bold;
	text-decoration: none;
}
.caption a.learn-more:hover {
	background: #fff;
	color: #08c;
}

.imgfade {
	padding-top: 15px;
}

















